*{
  font-family:Avenir;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("images/hero.jpg");
}

.menu-container{
  color: #fff;
  padding: 50px 0;
  display: flex;
  justify-content: flex-end;
}

.menu{
  width: 700px;
  display: flex;
  justify-content: space-around;
}

.logo{
  width:217px; 
  height:50px;
  justify-content:flex-start;

}

.submenu-link{
  border:1px;
  display: flex;
  justify-content: flex-end;
}

.cont{
  margin-left: 20px;
}
.blog{
  margin-left: 20px;
}
.about{
   margin-left: 20px; 
}
.case{
   margin-left: 20px;   
}
.oser{
   margin-left: 20px;   
}
.hero-title{
  text-align: center;
  color: red;
  display: flex;
  justify-content: center;
}
.hero-title2{
  text-align: center;
  color:white;
  display: flex;
  justify-content: center;
}
